<% provide(:title, 'アカウント作成') %>
<div class="row">
<div class="blank"></div>
<h1 class="display-5 fw-bolder">新規アカウント</h1>
<div class="borderbtm"></div>
<div class="blank"></div>
<div class="col-5 box">
    <%= form_with(model: @user, local: true) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "アカウント名"%>
      <%= f.text_field :name,placeholder: "20文字以内", class: 'form-control' %>
      
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email,placeholder: "30文字以内", class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password,placeholder: "10文字以上", class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード確認用" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <div class= "centerbtn">
      <%= f.submit "アカウント作成", class: "btn btn-outline-success" %>
      </div>
    <% end %>
    </div>
    </div>
  