<% provide(:title, 'アカウント作成') %>
<h1>アカウント作成</h1>
<div class="container">
<div class="col-5 box">
    <%= form_with(model: @user, local: true) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "名前"%>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード確認用" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <div class= "centerbtn">
      <%= f.submit "アカウント作成", class: "btn btn-outline-success" %>
      </div>
    <% end %>
    </div>
</div>
  