<% provide(:title, 'プロフィール情報更新') %>
<div class="row">
<div class="blank"></div>
<h1 class="display-5 fw-bolder">プロフィール情報更新</h1>
<div class="borderbtm"></div>
<div class="blank"></div>
<div class="col-5 box">
    <%= form_with(model: @user, local: true) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
     <p><%= controller.action_name %></p>

      <%= f.label :name, "アカウント名" %>
      <%= f.text_field :name, class: 'form-control' %>

      <div class= "centerbtn">
      <%= f.submit "更新する", class: "btn btn-outline-danger" %>
      </div>
    <% end %>
    </div>
    </div>