<% provide(:title, 'Place投稿') %>
<h1>Placeを投稿</h1>
<div class="container">
<div class="col-5 box">
<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title, "タイトル"%>
　<%= f.text_field :title, class: 'form-control' %>

　<%= f.label :location, "所在地"%>
　<%= f.text_field :location, class: 'form-control' %>

　<%= f.label :price, "１日あたりの価格"%>
　<%= f.text_field :price, class: 'form-control' %>

 
  <%= f.label :content, "Placeの詳細"%>
  <div class="field">
    <%= f.text_area :content, placeholder: "Placeの詳細な情報を記入してください", class: "form-control",size: "50x10"%>
  </div>

  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <div class="centerbtn">
  <%= f.submit "Post", class: "btn btn-outline-success" %>
  </div>
<% end %>
</div>
</div>