<% provide(:title, @post.title) %>
<div class="row">
<div class="col-lg-6">
<h2><%= @post.title %></h2>
<div class="border m-2"></div>
<%= image_tag @post.display_image, class: "img-fluid rounded center" %>
<div class="blank border"></div>
<h3 class="p-1"><%= "・所在地:#{@post.location}" %></h3>
<h3 class="p-1"><%= "・価格:#{@post.price}円/日" %></h3>
<h3 class="p-1"><%= "・ユーザー:#{@post.user.name}さん" %></h3>
<h3 class="p-1"><%= "・連絡先:#{@post.user.email}" %></h3>
</div>

<div class="col-lg-6">
<div class="details">
<h3>・詳細情報</h3>
</div>
<div class="border m-1"></div>
<p><%= @post.content %></p>

</div>
</div>

<div class="blank"></div>
<% if current_user?(@post.user) %>
<div class="centerbtn p-5">
<%= link_to "Placeを削除", @post, method: :delete, data: { confirm: "Placeを削除しますか?" }, class: "btn btn-outline-danger" %>
</div>
<% end %>

