<% provide(:title, @post.title) %>
<div class="row">

<div class="col-lg-6">
<div class="">
<h3 class="left"><%= @post.title %></h3>
<% if current_user.already_favorited?(@post) %>
 <div class="pt-3">
  <%= link_to "", post_favorite_path(@post), method: :delete, class: "fas fa-heart left" %>
  <p>「保存済み」</p>
 </div>
<% else %>
<div class="pt-3">
  <%= link_to "", post_favorites_path(@post), method: :post, class: "far fa-heart left" %>
  <p>「保存」</p>
  </div>
<% end %>
</div>
</div>

<div class="col-lg-6">
<%= link_to(@post.user, class: '') do %>
<p class="pt-3 left"><%= "ホスト:#{@post.user.name}" %></p>
<%= image_tag @post.user.mypage_image, class: "rounded-circle d-block pt-2" %>
<% end %>
</div>

<div class="border m-1"></div>
</div>

<div class="row">

<div class="col-lg-6">
<%= image_tag @post.display_image, class: "img-fluid rounded mx-auto d-block" %>
</div>

<div class="col-lg-6">
<div class="p-3">
<h5 class="p-3"><%= "・所在地:#{@post.location}" %></h5>
<h5 class="p-3"><%= "・価格:#{@post.price}円/日" %></h5>
</div>
</div>

</div>

<div class="row">
<div class="border m-1"></div>
</div>

<div class="row">
<div class="details">
<h3 class="text-center">ー  詳細情報  ー</h3>
</div>
<div class="border m-1"></div>
<p class="p-2"><%= @post.content %></p>
<div class="border m-1"></div>
<% if current_user?(@post.user) %>
<div class="centerbtn p-5">
<%= link_to "Placeを削除", @post, method: :delete, data: { confirm: "Placeを削除しますか?" }, class: "btn btn-outline-danger" %>
<%= link_to "Placeを編集", edit_post_path(@post), class: "btn btn-outline-success" %>
</div>
<% end %>
</div>


