<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />        <meta name="description" content="株式会社民パークが始める新しいサービス、PlaceShip..." />
  <meta name="author" content="Naiki Takashima" />
  <title><%= full_title(yield(:title)) %></title>
  <!-- Favicon　未完成--> 
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  <!-- Core theme CSS (includes Bootstrap)-->
  <%# <link href="app/assets/stylesheets/styles.css" rel="stylesheet" /> %>
</head>