<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
    <body>
        <%= render 'layouts/header' %>
        <div class="container main">
        <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      　<% end %>
        <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
    </body>
</html>